In [1]:
import pandas as pd

In [2]:
file_path = '/content/transformed_data.xlsx'

In [3]:
df = pd.read_excel('/content/transformed_data.xlsx')

In [4]:
from scipy.stats import zscore

In [5]:
df['z_score'] = zscore(df['vehicle_count'])

In [6]:
outliers = df[abs(df['z_score']) > 3]

In [7]:
print(outliers)

      Record ID           timestamp  intersection_id   intersection_name  \
729        1956 2023-01-02 08:30:00                6  Allahabad Junction
768        2061 2023-01-02 10:20:00                1         Civil Lines
1256       3355 2023-01-03 07:50:00                5        Naini Bridge
1270       3403 2023-01-03 08:40:00                3               Chowk
1276       3425 2023-01-03 09:00:00                5        Naini Bridge
...         ...                 ...              ...                 ...
9573       7802 2023-01-06 10:00:00                2               Katra
9588       7744 2023-01-06 09:00:00                4         Tagore Town
9707       7713 2023-01-06 08:30:00                3               Chowk
9769       7832 2023-01-06 10:30:00                2               Katra
9908       9813 2023-01-07 19:30:00                3               Chowk

      latitude  longitude  vehicle_count  average_speed  signal_cycle_time  \
729    25.4358    81.8307            334          10.40                120
768    25.4486    81.8333            317          11.82                120
1256   25.4088    81.8592            315          21.64                120
1270   25.4314    81.8437            299          23.02                120
1276   25.4088    81.8592            299          21.63                120
...        ...        ...            ...            ...                ...
9573   25.4550    81.8463            349          20.80                120
9588   25.4675    81.8867            301          23.72                120
9707   25.4314    81.8437            310          21.59                120
9769   25.4550    81.8463            354          20.89                120
9908   25.4314    81.8437            297          11.37                120

      green_time  ...  day_of_week  is_holiday              event  \
729           81  ...       Monday           0           Accident
768           79  ...          NaN           0           Roadwork
1256          87  ...      Tuesday           0                NaN
1270          84  ...      Tuesday           0                NaN
1276          72  ...      Tuesday           0                NaN
...          ...  ...          ...         ...                ...
9573          72  ...       Friday           0                NaN
9588          89  ...       Friday           0  Local Market Fair
9707          83  ...       Friday           0  Local Market Fair
9769          86  ...       Friday           0                NaN
9908          93  ...     Saturday           0           Roadwork

     pollution_level  car_count bus_count  truck_count  motorcycle_count  \
729             6.67        206        34           32                62
768             6.40        193        33           31                60
1256            6.21        189        28           10                63
1270            6.14        177        31           32                59
1276            6.35        166        32           36                65
...              ...        ...       ...          ...               ...
9573            7.12        212        40           30                67
9588            6.12        179        26           39                57
9707            6.43        187        28           41                54
9769            7.16        212        33           41                68
9908            6.26        172        32           34                59

      Hour of the day   z_score
729               NaN  3.687084
768               NaN  3.406073
1256              NaN  3.373013
1270              NaN  3.108533
1276              NaN  3.108533
...               ...       ...
9573              NaN  3.935034
9588              NaN  3.141593
9707              NaN  3.290363
9769              NaN  4.017684
9908              NaN  3.075473

[87 rows x 23 columns]

In [9]:
df['z_score'] = zscore(df['average_speed'])

In [10]:
outliers2 = df[abs(df['z_score']) > 3]

In [11]:
print (outliers2)

      Record ID           timestamp  intersection_id   intersection_name  \
179         466 2023-01-01 07:40:00                6  Allahabad Junction
311         828 2023-01-01 13:40:00                8              Jhunsi
340         914 2023-01-01 15:10:00                4         Tagore Town
510        1354 2023-01-01 22:30:00                4         Tagore Town
729        1956 2023-01-02 08:30:00                6  Allahabad Junction
...         ...                 ...              ...                 ...
9259       9853 2023-01-07 20:10:00                3               Chowk
9291       4118 2023-01-03 20:30:00                8              Jhunsi
9407       6558 2023-01-05 13:10:00                8              Jhunsi
9716       7203 2023-01-06 00:00:00                3               Chowk
9839       9661 2023-01-07 17:00:00                1         Civil Lines

      latitude  longitude  vehicle_count  average_speed  signal_cycle_time  \
179    25.4358    81.8307              0          57.97                120
311    25.4326    81.9061              4          57.41                120
340    25.4675    81.8867              8          55.97                120
510    25.4675    81.8867              0          58.93                120
729    25.4358    81.8307            334          10.40                120
...        ...        ...            ...            ...                ...
9259   25.4314    81.8437            259          11.11                120
9291   25.4326    81.9061            369          10.23                120
9407   25.4326    81.9061             15          56.65                120
9716   25.4314    81.8437            127          10.89                120
9839   25.4486    81.8333            263           9.86                120

      green_time  ...  day_of_week  is_holiday     event pollution_level  \
179           53  ...       Sunday           1       NaN            0.00
311           58  ...          NaN           1       NaN            0.08
340           52  ...       Sunday           1       NaN            0.20
510           56  ...       Sunday           1       NaN            0.00
729           81  ...       Monday           0  Accident            6.67
...          ...  ...          ...         ...       ...             ...
9259          71  ...     Saturday           0  Roadwork            5.38
9291          82  ...      Tuesday           0  Accident            7.50
9407          62  ...     Thursday           1       NaN            0.18
9716          59  ...       Friday           0  Accident            2.61
9839          81  ...     Saturday           0  Roadwork            5.51

      car_count bus_count  truck_count  motorcycle_count  Hour of the day  \
179           0         0            0                 0              NaN
311           2         0            1                 1              NaN
340           4         2            0                 2              NaN
510           0         0            0                 0              NaN
729         206        34           32                62              NaN
...         ...       ...          ...               ...              ...
9259        153        27           29                50              NaN
9291        225        46           25                73              NaN
9407         11         0            1                 3              NaN
9716         75        13           14                25              NaN
9839        159        32           23                49              NaN

       z_score
179   3.269599
311   3.194430
340   3.001137
510   3.398460
729  -3.115760
...        ...
9259 -3.020456
9291 -3.138579
9407  3.092414
9716 -3.049987
9839 -3.188244

[68 rows x 23 columns]

In [12]:
Q1 = df['average_speed'].quantile(0.25)

In [13]:
Q3 = df['average_speed'].quantile(0.75)

In [15]:
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers3 = df[(df['average_speed'] < lower_bound) | (df['average_speed'] > upper_bound)]

In [16]:
print(outliers3)

      Record ID           timestamp  intersection_id   intersection_name  \
9            23 2023-01-01 00:20:00                3               Chowk
112         296 2023-01-01 04:50:00                6  Allahabad Junction
179         466 2023-01-01 07:40:00                6  Allahabad Junction
253         673 2023-01-01 11:10:00                3               Chowk
305         815 2023-01-01 13:30:00                5        Naini Bridge
...         ...                 ...              ...                 ...
9839       9661 2023-01-07 17:00:00                1         Civil Lines
9908       9813 2023-01-07 19:30:00                3               Chowk
9926       9788 2023-01-07 19:00:00                8              Jhunsi
9957        777 2023-01-01 12:50:00                7           Phaphamau
9959       6662 2023-01-05 15:00:00                2               Katra

      latitude  longitude  vehicle_count  average_speed  signal_cycle_time  \
9      25.4314    81.8437             19          55.14                120
112    25.4358    81.8307             16          54.07                120
179    25.4358    81.8307              0          57.97                120
253    25.4314    81.8437             20          53.28                120
305    25.4088    81.8592             36          53.09                120
...        ...        ...            ...            ...                ...
9839   25.4486    81.8333            263           9.86                120
9908   25.4314    81.8437            297          11.37                120
9926   25.4326    81.9061            247          13.49                120
9957   25.4945    81.8686             27          53.12                120
9959   25.4550    81.8463             34          53.72                120

      green_time  ...  day_of_week  is_holiday     event pollution_level  \
9             57  ...       Sunday           1       NaN            0.37
112           55  ...       Sunday           1       NaN            0.22
179           53  ...       Sunday           1       NaN            0.00
253           69  ...       Sunday           1       NaN            0.34
305           66  ...       Sunday           1       NaN            0.66
...          ...  ...          ...         ...       ...             ...
9839          81  ...     Saturday           0  Roadwork            5.51
9908          93  ...     Saturday           0  Roadwork            6.26
9926          78  ...     Saturday           0  Roadwork            4.70
9957          63  ...       Sunday           1       NaN            0.60
9959          63  ...     Thursday           1       NaN            0.57

      car_count bus_count  truck_count  motorcycle_count  Hour of the day  \
9            12         1            3                 3              NaN
112          13         1            0                 2              NaN
179           0         0            0                 0              NaN
253          15         1            2                 2              NaN
305          22         3            3                 8              NaN
...         ...       ...          ...               ...              ...
9839        159        32           23                49              NaN
9908        172        32           34                59              NaN
9926        154        22           23                48              NaN
9957         17         4            2                 4              NaN
9959         20         4            0                10              NaN

       z_score
9     2.889726
112   2.746099
179   3.269599
253   2.640056
305   2.614553
...        ...
9839 -3.188244
9908 -2.985556
9926 -2.700987
9957  2.618579
9959  2.699118

[214 rows x 23 columns]

In [19]:
Q2 = df['vehicle_count'].quantile(0.25)
Q4 = df['vehicle_count'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q2 - 1.5 * IQR
upper_bound = Q4 + 1.5 * IQR
outliers4 = df[(df['vehicle_count'] < lower_bound) | (df['vehicle_count'] > upper_bound)]

In [20]:
print(outliers4)

      Record ID           timestamp  intersection_id intersection_name  \
1             5 2023-01-01 00:00:00                5      Naini Bridge
4            12 2023-01-01 00:10:00                2             Katra
5            17 2023-01-01 00:10:00                7         Phaphamau
6            19 2023-01-01 00:10:00                9        MNNIT Gate
8            21 2023-01-01 00:20:00                1       Civil Lines
...         ...                 ...              ...               ...
9957        777 2023-01-01 12:50:00                7         Phaphamau
9958       7564 2023-01-06 06:00:00                4       Tagore Town
9959       6662 2023-01-05 15:00:00                2             Katra
9960       3105 2023-01-03 03:40:00                5      Naini Bridge
9961       5489 2023-01-04 19:20:00                9        MNNIT Gate

      latitude  longitude  vehicle_count  average_speed  signal_cycle_time  \
1      25.4088    81.8592             30          49.09                120
4      25.4550    81.8463             47          42.64                120
5      25.4945    81.8686             47          42.19                120
6      25.4920    81.8639             36          46.53                120
8      25.4486    81.8333             48          43.89                120
...        ...        ...            ...            ...                ...
9957   25.4945    81.8686             27          53.12                120
9958   25.4675    81.8867             23          52.53                120
9959   25.4550    81.8463             34          53.72                120
9960   25.4088    81.8592             22          40.91                120
9961   25.4920    81.8639            273          21.58                120

      green_time  ...  day_of_week  is_holiday                 event  \
1             59  ...       Sunday           1                   NaN
4             58  ...       Sunday           1  New Year Celebration
5             58  ...       Sunday           1                   NaN
6             60  ...       Sunday           1                   NaN
8             55  ...       Sunday           1  New Year Celebration
...          ...  ...          ...         ...                   ...
9957          63  ...       Sunday           1                   NaN
9958          50  ...       Friday           0     Local Market Fair
9959          63  ...     Thursday           1                   NaN
9960          60  ...      Tuesday           0                   NaN
9961          82  ...    Wednesday           0                   NaN

     pollution_level  car_count bus_count  truck_count  motorcycle_count  \
1               0.44         20         0            4                 6
4               0.93         25         2            9                11
5               1.05         26         5            7                 9
6               0.78         26         4            4                 2
8               0.94         33         3            7                 5
...              ...        ...       ...          ...               ...
9957            0.60         17         4            2                 4
9958            0.43         14         2            2                 5
9959            0.57         20         4            0                10
9960            0.41         13         0            5                 4
9961            5.58        167        26           32                48

      Hour of the day   z_score
1                 NaN  2.077629
4                 NaN  1.211841
5                 NaN  1.151437
6                 NaN  1.733999
8                 NaN  1.379629
...               ...       ...
9957              NaN  2.618579
9958              NaN  2.539383
9959              NaN  2.699118
9960              NaN  0.979622
9961              NaN -1.615059

[3428 rows x 23 columns]